<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kzw.dao.RecruitMapper">
	<resultMap id="BaseResultMap" type="com.kzw.entity.Recruit">
		<id column="reid" jdbcType="INTEGER" property="reid" />
		<result column="deptid" jdbcType="INTEGER" property="deptid" />
		<result column="positionid" jdbcType="INTEGER" property="positionid" />
		<result column="describes" jdbcType="VARCHAR" property="describes" />
		<result column="numbs" jdbcType="VARCHAR" property="numbs" />
		<result column="valuetime" jdbcType="TIMESTAMP" property="valuetime" />
	</resultMap>

	<resultMap id="WithDeptAndPosBaseResultMap" type="com.kzw.entity.Recruit">
		<id column="reid" jdbcType="INTEGER" property="reid" />
		<result column="deptid" jdbcType="INTEGER" property="deptid" />
		<result column="positionid" jdbcType="INTEGER" property="positionid" />
		<result column="describes" jdbcType="VARCHAR" property="describes" />
		<result column="numbs" jdbcType="VARCHAR" property="numbs" />
		<result column="valuetime" jdbcType="TIMESTAMP" property="valuetime" />
		
		<association property="dept" javaType="com.kzw.entity.Dept">
	    	<id column="did" property="deptId"/>
	    	<result column="dname" property="deptName"/>
	    </association>
    
	    <association property="position" javaType="com.kzw.entity.Position">
	    	<id column="pid" property="positionId"/>
	    	<result column="pname" property="positionName"/>
	    </association>
	    
	</resultMap>

	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		reid, deptid, positionid, describes, numbs, valuetime
	</sql>

	<select id="selectByExample" parameterType="com.kzw.entity.RecruitExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from tb_recruit
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<select id="selectByExampleWithDeptAndPos" parameterType="com.kzw.entity.RecruitExample"
		resultMap="WithDeptAndPosBaseResultMap">
		SELECT
		rec.*,dept.dept_id did,dept.dept_name dname,pos.position_id pid,pos.position_name pname
		FROM
		`tb_recruit` rec,
		tb_dept dept,
		tb_position pos
		WHERE
		rec.deptid = dept.dept_id
		AND rec.positionid = pos.position_id
	</select>


	<select id="selectByPrimaryKeyWithDeptAndPos" parameterType="com.kzw.entity.RecruitExample"
		resultMap="WithDeptAndPosBaseResultMap">
		SELECT
		rec.*,dept.dept_id did,dept.dept_name dname,pos.position_id pid,pos.position_name pname
		FROM
		`tb_recruit` rec,
		tb_dept dept,
		tb_position pos
		WHERE
		rec.deptid = dept.dept_id
		AND rec.positionid = pos.position_id
		and reid = #{reid,jdbcType=INTEGER}
	</select>


	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_recruit
		where reid = #{reid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tb_recruit
		where reid = #{reid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.kzw.entity.RecruitExample">
		delete from tb_recruit
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.kzw.entity.Recruit">
		insert into tb_recruit (reid, deptid, positionid,
		describes, numbs, valuetime
		)
		values (#{reid,jdbcType=INTEGER}, #{deptid,jdbcType=INTEGER},
		#{positionid,jdbcType=INTEGER},
		#{describes,jdbcType=VARCHAR}, #{numbs,jdbcType=VARCHAR}, #{valuetime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.kzw.entity.Recruit">
		insert into tb_recruit
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="reid != null">
				reid,
			</if>
			<if test="deptid != null">
				deptid,
			</if>
			<if test="positionid != null">
				positionid,
			</if>
			<if test="describes != null">
				describes, 
			</if>
			<if test="numbs != null">
				numbs, 
			</if>
			<if test="valuetime != null">
				valuetime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="reid != null">
				#{reid,jdbcType=INTEGER},
			</if>
			<if test="deptid != null">
				#{deptid,jdbcType=INTEGER},
			</if>
			<if test="positionid != null">
				#{positionid,jdbcType=INTEGER},
			</if>
			<if test="describes != null">
				#{describes,jdbcType=VARCHAR},
			</if>
			<if test="numbs != null">
				#{numbs,jdbcType=VARCHAR},
			</if>
			<if test="valuetime != null">
				#{valuetime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.kzw.entity.RecruitExample"
		resultType="java.lang.Long">
		select count(*) from tb_recruit
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update tb_recruit
		<set>
			<if test="record.reid != null">
				reid = #{record.reid,jdbcType=INTEGER},
			</if>
			<if test="record.deptid != null">
				deptid = #{record.deptid,jdbcType=INTEGER},
			</if>
			<if test="record.positionid != null">
				positionid = #{record.positionid,jdbcType=INTEGER},
			</if>
			<if test="record.describes != null">
				describes = #{record.describes,jdbcType=VARCHAR},
			</if>
			<if test="record.numbs != null">
				numbs = #{record.numbs,jdbcType=VARCHAR},
			</if>
			<if test="record.valuetime != null">
				valuetime = #{record.valuetime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update tb_recruit
		set reid = #{record.reid,jdbcType=INTEGER},
		deptid = #{record.deptid,jdbcType=INTEGER},
		positionid = #{record.positionid,jdbcType=INTEGER},
		describes = #{record.describes,jdbcType=VARCHAR},
		numbs = #{record.numbs,jdbcType=VARCHAR},
		valuetime = #{record.valuetime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.kzw.entity.Recruit">
		update tb_recruit
		<set>
			<if test="deptid != null">
				deptid = #{deptid,jdbcType=INTEGER},
			</if>
			<if test="positionid != null">
				positionid = #{positionid,jdbcType=INTEGER},
			</if>
			<if test="describes != null">
				describes = #{describes,jdbcType=VARCHAR},
			</if>
			<if test="numbs != null">
				numbs = #{numbs,jdbcType=VARCHAR},
			</if>
			<if test="valuetime != null">
				valuetime = #{valuetime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where reid = #{reid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.kzw.entity.Recruit">
		update tb_recruit
		set deptid = #{deptid,jdbcType=INTEGER},
		positionid = #{positionid,jdbcType=INTEGER},
		describes = #{describes,jdbcType=VARCHAR},
		numbs = #{numbs,jdbcType=VARCHAR},
		valuetime = #{valuetime,jdbcType=TIMESTAMP}
		where reid = #{reid,jdbcType=INTEGER}
	</update>
</mapper>